#li2 {
    position:relative;
}
.agree2 {
    position:absolute;
    top:90px;
    left:30%;
}
#content2 {
    position:absolute;
    top:111px;
    left:30%;
    overflow:scroll;
    border:rgb(91, 105, 89) 1px ridge;
    width:300px;
    height:100px;
    padding:5px;
}
#id_chk2{
    position:absolute;
    top:229px;
    left:30%;
}
.label2 {
    position:absolute;
    top:230px;
    left:33%
}